{% extends 'base.html' %}
{% block title %}InSmart{% endblock %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

<h1>Users</h1>

<form method="get" action="{% url "user_list" %}">
    <label for="id_q">Search:</label>
               <input type="text" name="q" id="id_q"/>
               <input type="submit" value="Submit"/>
</form>

<ul>
    {% for user in object_list %}
    <li>
        {{ user.id }}, {{ user.username }} : <a href="{% url "user_edit" user.id %}">{{ user.email }}</a> <a href="{% url "user_delete" user.id %}">delete</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "user_new" %}">New</a>


{% else %}
{% include 'home_missing_session.html' %}
{% endif %}

{% endblock %}