{% extends 'base.html' %}
{% load static %}
{% block title %}InSmart{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span4"></div>
        <div class="span4"><img class="center-block" src="{% static "insmart_logo_300.png" %}" /></div>
        <div class="span4"></div>
    </div>
    <div class="row">
        <p class="text-center">Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login</a> now.</p></div>
    </div>
</div>

{% endblock %}