{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="container">
    <div class="card card-container">

        <img id="profile-img" class="profile-img-card" src="{% static "insmart_logo_300.png" %}" alt="Logo"/>

        <h3>Forgot Password</h3>
        <p>Please enter the email address associated with the account you wish to reset the password on.</p>

        <form method="post" class="form-signin">

            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "check" %} Submit
            </button>
            {% endbuttons %}

        </form>
    </div>
</div>

{% endblock %}
