{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}

{% if validlink %}

<div class="container">
    <div class="card card-container">

        <img id="profile-img" class="profile-img-card" src="{% static "insmart_logo_300.png" %}" alt="Logo"/>
        <h3>Change Password</h3>
        <form method="post" class="form-signin">

            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "check" %} Change Password
            </button>
            {% endbuttons %}
        </form>
    </div>
</div>

{% else %}

    <div class="container">
        <div class="row">
            <div class="span4"></div>
            <div class="span4"><img class="center-block" src="{% static "insmart_logo_300.png" %}" /></div>
            <div class="span4"></div>
        </div>
        <div class="row">
            <p class="text-center">  The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p></div>
        </div>
    </div>

{% endif %}

{% endblock %}

