{% extends 'base.html' %}
{% block title %}InSmart{% endblock %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}
{% block content %}

{% if user.is_authenticated %}
<body>
<div class = "container">
    <h1 class = "page-header">Alert Detail: {{ object.name }}</h1>
    <table class ="table-bordered table-responsive table">
        <tr>
            <th class ="col-2">Product </th>
            <td class = "col-4">{{ object.product }}</td>
        </tr>
        <tr>
            <th class ="col-2">Adjustment </th>
            <td class = "col-4">{{ object.audit_log.adjustment }}</td>
        </tr>

        <tr>
            <th class ="col-2">Minimum </th>
            <td class = "col-4">{{ object.minimum }}</td>
        </tr>
        <tr>
            <th class ="col-2">Maximum </th>
            <td class = "col-4">{{ object.maximum }}</td>
        </tr>
        <tr>
            <th class ="col-2">Current Inventory </th>
            <td class = "col-4">{{ object.current }}</td>
        </tr>
        <tr>
            <th class ="col-2">Created At </th>
            <td class = "col-4">{{ object.created_at }}</td>
        </tr>
    </table>
</div>
</body>
{% else %}
{% include 'home_missing_session.html' %}
{% endif %}
{% endblock %}
