{% extends 'base.html' %}
{% block title %}InSmart{% endblock %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}
{% load pagination_tags %}

<h1 class="page-header">Products<small> Manage your Products</small></h1>

<form method="get" action="{% url "product_list" %}">

    <label for="id_q">Search:</label>
    <input type="text" name="q" id="id_q"/>

    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "search" %} Search
    </button>
    {% endbuttons %}
</form>


<div class = "table-responsive">
    {% autopaginate object_list 10 %}
        {% paginate %}
    <table class = "table table-striped">
        <thead>
        <tr>
            <th> ID # </th>
            <th> Vendor </th>
            <th> Name </th>
            <th> Brand </th>
        </tr>
        </thead>
        <tbody>
        {% for product in object_list %}
        {% if product.active == 1 %}
        <tr class = "active">
            <td>{{ product.id }}</td>
            <td>{% for vendor in product.vendors.all %}{{ vendor }}{% endfor %}</td>
            <td><a href = "{% url "product_detail" product.id %}">{{ product.name }}</a></td>
            <td>{{ product.brand }}</td>
            <td><a href="{% url "product_edit" product.id %}">{% bootstrap_icon "cog" %} Edit</a></td>
            <td><a href="{% url "product_delete" product.id %}">{% bootstrap_icon "trash" %} Delete</a></td>

        </tr>

        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>





<a href="{% url "product_new" %}">{% bootstrap_icon "plus" %} New </a>
<a href="{% url "product_list_all" %}">{% bootstrap_icon "expand" %} Show Inactive Products</a>


{% else %}
{% include 'home_missing_session.html' %}
{% endif %}
{% endblock %}