{% extends 'base.html' %}
{% block title %}InSmart{% endblock %}

{ % load bootstrap3 %}
{ % bootstrap_css % }
{ % boostrap_javascript % }

{% load static %}

{% block content %}
{% if user.is_authenticated %}
<body>
<h1 class="page-header">Products<small> Manage your Inventory</small></h1>
<div class = "table-responsive">
    <table class = "table table-striped">
        <thead>
        <tr>
            <th> ID # </th>
            <th> Name </th>
            <th> Brand </th>
        </tr>
        </thead>
        <tbody>
        {% for product in object_list %}
        {% if product.active %}
        <tr class = "active">
            <td><a href = "{% url "product_detail" product.id %}">{{ product.id }}</a></td>
            <td>{{ product.name }}</td>
            <td>{{ product.brand }}</td>
            <td><a href="{% url "product_edit" product.id %}">edit</a></td>
            <td><a href="{% url "product_delete" product.id %}">delete</a></td>
            {% else %}
        <tr class = "warning">
            <td><p class = "text-muted">{{ product.id }}</p></td>
            <td><p class = "text-muted">{{ product.name }}</p></td>
            <td><p class = "text-muted">{{ product.brand }}</p></td>
            <td><a href="{% url "product_edit" product.id %}">edit</a></td>
            <td><a href="{% url "product_delete" product.id %}">delete</a></td>
            {% endif %}


        </tr>


        {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url "product_new" %}">New</a>
</body>

{% else %}
{% include 'home_missing_session.html' %}
{% endif %}
{% endblock %}