{% extends 'base.html' %}
{% block title %}InSmart{% endblock %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<ul>
    {% for product in object_list %}
    <li>{{ product.name }}:
    <a href="{% url "product_edit" product.id %}">edit</a>
    <a href="{% url "product_delete" product.id %}">delete</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "product_new" %}">New</a>
</body>
</html>

{% endblock %}