{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}InSmart{% endblock %}</title>

    <!-- This is supplementary CSS for the getbootstrap.com dashboard theme -- see static/index.html for the sample file -->
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">
</head>

<body>

{% if user.is_authenticated %}

    <!-- Render the black bar at the top of the screen -->
    {% include 'navbar.html' %}

    <!-- Render the sidebar and main content pane -->
    <div class="container-fluid">
        <div class="row">
            {% include 'sidebar.html' %}

            <!-- Container for main content -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
{% endif %}

<!-- Delegate to a child page. -->
{% block content %}
{% endblock %}

{% if user.is_authenticated %}
            </div>
        </div>
    </div>
{% endif %}

</body>
</html>