{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

<h1 class="page-header">Change Password</h1>
<p>Use the controls below to change the password used to log into the InSmart website.</p>

<form method="post">

    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "check" %} Save Changes
        </button>
    {% endbuttons %}

</form>

{% endblock %}