{% extends 'base.html' %}
{% block title %}InSmart{% endblock %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

<!--
When constructing pages:
1.  Always extend base.html so that CSS and session info can be loaded.
2.  Wrap your content in the "block content and endblock tags"

The below content is "demo" content from some samples.  Good for copy-pasting.
It will need to be replaced with "alert" content someday.
-->

{% block content %}
{% if user.is_authenticated %}

{% bootstrap_messages %}

<h1 class="page-header">Dashboard</h1>

<p class="text-justify">Welcome to InSmart!  Use the links on the left side of the page to manage different types of information in the application.  The links at the top of the screen are user-specific links.</p>
<p class="text-justify">Listed below are any inventory alerts which may require attention.</p>


<h2>Today's Inventory Alerts</h2>
{% if today_count > 0 %}
<div class = "table-responsive">
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>ID #</th>
            <th>Product</th>
            <th>Adjustment</th>
            <th>Inventory Level</th>
            <th>Created At</th>
            <th/>
        </tr>
        </thead>

        <tbody>
        {% for alert in today %}
        <tr class = "active">
            <td>{{ alert.id }}</td>
            <td>{{ alert.product }}</td>
            <td>{{ alert.audit_log.adjustment }}</td>
            <td>{{ alert.current }}</td>
            <td>{{ alert.created_at }}</td>
            <td><a href="{% url "alert_detail" alert.id %}">{% bootstrap_icon "zoom-in" %} View</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No alerts have been generated today!</p>
{% endif %}

<h2>Older Alerts</h2>
{% if older_count > 0 %}
<div class = "table-responsive">
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>ID #</th>
            <th>Product</th>
            <th>Adjustment</th>
            <th>Inventory Level</th>
            <th>Created At</th>
            <th/>
        </tr>
        </thead>
        <tbody>

        {% for alert in older %}

        <tr class = "active">
            <td>{{ alert.id }}</td>
            <td>{{ alert.product }}</td>
            <td>{{ alert.audit_log.adjustment }}</td>
            <td>{{ alert.current }}</td>
            <td>{{ alert.created_at }}</td>
            <td><a href="{% url "alert_detail" alert.id %}">{% bootstrap_icon "zoom-in" %} View</a></td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>There are no inventory alerts older than today!</p>
{% endif %}


{% else %}
{% include 'home_missing_session.html' %}
{% endif %}

{% endblock %}


