{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}InSmart Login{% endblock %}

{% block content %}

<div class="container">
    <div class="card card-container">

        <img id="profile-img" class="profile-img-card" src="{% static "insmart_logo_300.png" %}" alt="Logo"/>
        <form method="post" class="form-signin">

            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "check" %} Login
            </button>
            {% endbuttons %}

        </form>
    </div>
</div>


{% endblock %}


