<!-- This controls what's in the sidebar on the left. -->
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'home' %}">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Vendors</a></li>
        <li><a href="{% url 'product_list' %}">Products</a></li>
        <li><a href="{% url 'reports' %}">Reports</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        {% if user.is_authenticated and user.is_superuser %} <!-- Only the supers should do this -->
        <li><a href="{% url 'user_list' %}">Users</a></li>
        {% endif %}
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
    </ul>
</div>