<!-- This controls what's in the sidebar on the left. -->
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'home' %}">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'vendor_list' %}">Vendors</a></li>
        <li><a href="{% url 'product_list' %}">Products</a></li>
        <li><a href="{% url 'reports' %}">Reports</a></li>
    </ul>

    <ul class="nav nav-sidebar">
        <li><a href="{% url 'audit_log_list' %}">Inventory Tracking</a></li>
        <li><a href="{% url 'alert_list' %}">Alerts</a></li>
    </ul>

    {% if user.is_authenticated and user.is_superuser %}
    <ul class="nav nav-sidebar">
        <li><a href="{% url 'user_list' %}">Users</a></li>
    </ul>
    {% endif %}
</div>